extend ../layout 
block content
    .container
        br
        p.display-4 Make a book request
        form.border.message
            div.row
                .col-md-6
                    h5
                        i.text-uppercase #{user.username} 
                        | wants to give
                        h5
                        br
                    select.browser-default.custom-select(id="pick_book" required)
                        option(value="" selected disabled) Pick a book
                        each book, i in books
                            option(value=book.bookname) #{book.bookname} &nbsp
                                small #{book.tradestatus}                   
                .col-md-6
                    h5 and wants to take
                    br
                    select.browser-default.custom-select(id="take_book", required)
                        option(value="" selected disabled) Take a book
                        each bk, i in nonuserbooks
                            option(value=bk.bookname+"."+bk._id+"."+bk.username+"."+bk.userid) #{bk.bookname} from #{bk.username} 
            br
            label(for="note") Note to the trader:
            input.form-control(placeholder="Optional..." ,id="note" name="note")               
            hr.divider
            br 
            button.btn.btn-info.submit_request(type="submit" userid=user._id user=user.username) Submit
            br
                 
